@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

header {
    padding: 40px;
    margin: 0px;
    text-align: center;
    background-color: coral;
    color: white;
    

}

h1, h5 {
    font-family: 'Balsamiq Sans', cursive;
    text-shadow: 3px 3px 5px #000000;;
}


.row {
    width: auto;
    padding: 70px;
    margin: 0;
}

.card-header {
    font-size: 24px;
}

.card-body {
    height: 230px;
}

.card li {
    height: 60px;

}

.card-div {
    box-shadow: 3px 3px 5px #000000;
    border-radius: 3px;

}

.col-body {
    float: right;
    width: 18rem;
    
}

li {
    color: rgb(13, 75, 96);
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;

}